body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

input {
    width: 250px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}

#msg {
    color: blue;
}
